@model FlightTickets.Models.LogInModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form>
        <div class="mb-3">
            <label for="Email" class="form-label">Email address</label>
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}